{% extends 'base.html.twig' %}

{% block title %} Show Single Products {% endblock %}

{% block body %}

<h1>Single Product</h1>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Size</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{product.id}}</td>
                <td scope="row">{{product.name}}</td>
                <td scope="row">{{product.description}}</td>
                <td scope="row">{{product.size}}</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}

