<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% for message in app.flashes('sucesso') %}
        <div class='notice'>
            {{message}}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
    </body>
    
</html>
